<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
bifree 社区为国内最大最具影响力的 数字货币 社区，致力于 数字货币 的技术研究。

bifree 社区由一批热爱 bifree 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 数字货币 感兴趣的朋友。


### 移动客户端


立即体验 bifree 客户端，直接扫描页面右侧二维码。


*/
        })) %>
      </div>
    </div>
  </div>
</div>
